<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <!--=====================================
    =            Show Servlets              =
    ======================================-->
    <servlet>
        <servlet-name>Search Train</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.SearchTrainsServlet</servlet-class>>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search Train</servlet-name>
        <url-pattern>/show/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Train numbers</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.ShowTrainNumbersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Train numbers</servlet-name>
        <url-pattern>/show/train_numbers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Station names</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.ShowStationsNamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Station names</servlet-name>
        <url-pattern>/show/station_names</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Passengers list</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.ShowAllPassengersServlet</servlet-class>>
    </servlet>
    <servlet-mapping>
        <servlet-name>Passengers list</servlet-name>
        <url-pattern>/show/allpassengers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Stations list</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.ShowAllStationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stations list</servlet-name>
        <url-pattern>/show/allstations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Trains List</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.ShowAllTrainsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trains List</servlet-name>
        <url-pattern>/show/alltrains</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Show registered passengers</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.ShowRegisteredPassengersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Show registered passengers</servlet-name>
        <url-pattern>/show/regpass</url-pattern>
    </servlet-mapping>

    <!--=====================================
    =            Add Servlets               =
    ======================================-->

    <servlet>
        <servlet-name>Add train to DB</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.AddTrainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add train to DB</servlet-name>
        <url-pattern>/add/addtrain</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add station to DB</servlet-name>
        <servlet-class>com.tsystems.js.controllers.servlets.AddStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add station to DB</servlet-name>
        <url-pattern>/add/addstation</url-pattern>
    </servlet-mapping>

    <!--=====================================
    =               Filters                 =
    ======================================-->



    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>